sudo: false

matrix:
    include:
        - os: linux
          env: TARGET= STACKARCH=linux-x86_64
          addons:
              apt:
                  packages:
                      - ghc-7.10.3
                      - zlib1g-dev
                  sources: hvr-ghc
          before_install:
              - PATH="/opt/ghc/7.10.3/bin:$PATH"
              - export PATH

        - os: osx
          env: TARGET=libraries/base/stage1/build/libHSbase-4.9.0.0.a STACKARCH=osx-x86_64
          before_install:
              - brew update
              - brew install ghc
              - export PATH

before_install:

    # Install Stack
    - mkdir -p ~/.local/bin
    - PATH="$HOME/.local/bin:$PATH"
    - travis_retry curl -L "https://www.stackage.org/stack/$STACKARCH" | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'

    - stack install happy alex

    - travis_retry git clone git://git.haskell.org/ghc --recurse-submodules

install:

    - env
    - ghc --version
    - cabal --version
    - alex --version
    - happy --version

    # Travis clones the project into ".", but we need it as a child directory
    # of "ghc/". For this reason, we - rather hackily - move the GHC-Shake
    # ".git"  directory into the appropriate location, and perform a hard reset
    # in order to regenerate the GHC-Shake files.
    - mkdir ghc/shake-build
    - mv .git ghc/shake-build
    - ( cd ghc/shake-build && git reset --hard HEAD )

    - ( cd ghc/shake-build && stack build --only-dependencies )

    - ( cd ghc && ./boot )
    - ( cd ghc && ./configure )

script:
    - ( cd ghc/shake-build && stack build --haddock )
    - ./ghc/shake-build/build.stack.sh -j --no-progress $TARGET

cache:
    directories:
        - $HOME/.stack

# notifications:
#     irc:
#         on_success: always # always/never/change
#         on_failure: always
#         channels:
#             - "chat.freenode.net#shaking-up-ghc"
#         template:
#             - "#%{build_number} finished in %{duration}. %{message}"
#             - "Repo: %{repository_slug}, branch: %{branch}"
#             - "%{author}: %{commit_subject}"
#             - "Build details: %{build_url}"
